Grid size: 10 x 10

Live cells are x's
Dead cells are dashes

The starting pattern has been chosen by me. It is: 

0 1 2 3 4 5 6 7 8 9
0 - - X - - - - - - X
1 - - - - - X - - X -
2 X X - - - X X X - -
3 - X - - - - - - - -
4 - - - - - - - - - X
5 - - - - X X - - - -
6 X - - - - X - - - -
7 - - - X - - - - - -
8 - - X - - X X X - -
9 - - - - - X - - - -

The code will run for 3 steps

There is two seconds between each generation

The edges do not wrap around